main{
    /* margin-top: 16px; */
    padding: 8px 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.481);
}

main > section.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section.sec1{
    
}

main > section.sec1 > h2{
    max-width: 670px;
    text-align: center;
    margin: 12px 0;
}

main > section.sec1 > div{
    margin: 14px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section.sec1 > div > img{
    width: 460px;
    height: 340px;
    margin-bottom: 8px;
}

main > section.sec1 > div > h5{
    max-width: 640px;
    text-align: justify;
}

main > section.sec1 > article > p{
    font-size: 18px;
    max-width: 1200px;
    margin-bottom: 12px;
    text-align: justify;
}