.container0{
    max-width: 1280px;
    background-color: rgba(221, 255, 71, 0.419);
    margin: 4px auto;
    padding: 24px 2%;
}


/* -------------------------------------------------------------------------- */

.container1{
    max-width: 1280px;
    background-color: rgba(255, 102, 71, 0.334);
    margin: 4px auto;
    padding: 24px 2%;
}

/* -------------------------------------------------------------------------- */

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
}

.cont > h1{
    text-align: center;
    margin-bottom: 12px;
}

.cont > p{
    text-align: center;
    margin-bottom: 12px;
}

.cont > div{
    display: flex;
    text-align: justify;
    align-items: center;
    max-width: 760px;
    gap: 12px;
}

.cont > div > p{
    text-align: justify;
    font-size: 18px;
}

.cont > div > img{
    max-width: 440px;
    max-height: 280px;
    border: 0.3px solid rgb(135, 218, 235);
}