*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #000049;
}

.Container{
    /* padding: 0 2%; */
    margin: 8px 0;
}

.col{
    
background-color: #3811e7;
}